<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}

</body>

</html>
